
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'bg-white rounded pb_form_v1'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="mb-4 mt-0 text-center">Sign up</h2>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control pb_height-50 reverse' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control pb_height-50 reverse' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control pb_height-50 reverse' %>
  </div>

  <div class="actions form-group">
    <%= render "devise/shared/links" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue' %>
  </div>
<% end %>
