<%= form_for @state do |f| %>
  <div id="form-container">
    <%= fields_for :reservation do |reservation| %>
      <div>
        <%= reservation.label 'Full Name' %>
        <%= reservation.text_field :name, placeholder: 'Juan Pérez', required: true %>
      </div>

      <div>
        <%= reservation.label 'Email' %>
        <%= reservation.email_field :mail, placeholder: 'jperez@mail.cl', required: true %>
      </div>

      <div>
        <%= reservation.label 'Phone' %>
        <%= reservation.text_field :phone, placeholder: '+56 9 1234 5678', required: true %>
      </div>

      <div>
        <%= reservation.label 'Comments (optional)' %>
        <%= reservation.text_area :comment %>
      </div>
    <% end %>

    <%= f.hidden_field :date, id: 'state-date' %>
    <%= f.hidden_field :block_id, id: 'state-block' %>
    <%= f.hidden_field :resource_id, value: @resource.id %>

    <div>
      <%= f.submit 'Book' %>
    </div>
  </div>
<% end %>
