<h1><%= @company.name %></h1>
<h3><%= @resource.name %></h3>

<%= button_to  "Editar", edit_company_path(id: @company.id), {method: 'get'} %>


<%= week_calendar events: @data_blocks do |date, data_blocks| %>
  <span class="data-block" id="">
    <%= date %>
  </span>
  <% data_blocks.each do |block| %>
    <% if block.available %>
      <div
        class="block available"
        data-block-id="<%= block.block.id %>"
        data-date="<%= block.start_time %>"
      >
         <%= block.start_time.strftime("%H:%M") %> - <%= block.end_time.strftime("%H:%M") %> <br/>
      </div>
    <% elsif block.ocupation %>
      <div
        class="block not-available"
        data-block-id="<%= block.block.id %>"
        data-date="<%= block.start_time %>"
      >
         <%= block.start_time.strftime("%H:%M") %> - <%= block.end_time.strftime("%H:%M") %> <br/>
        Reason <%= block.ocupation.category %>
        
      </div>

    <% else %>

      <div
        class="block not-available"
        data-block-id="<%= block.block.id %>"
        data-date="<%= block.start_time %>"
      >
         <%= block.start_time.strftime("%H:%M") %> - <%= block.end_time.strftime("%H:%M") %> <br/>
        Nombre <%= block.reservation.name %> <br/>
        Número <%= block.reservation.phone %> <br/>
        Mail <%= block.reservation.mail %> <br/>
        Comentarios <%= block.reservation.comment %> <br/>
      </div>
    <% end %>

  <% end %>
<% end %>

<div id="reservation-form">
  <h3>Fill the following form to complete your booking.</h3>

  <%= render 'reservations/resource_table', resource: @resource, state: nil, block: nil %>

  <%= render 'states/form' %>
</div>

<div id="not-available-block">
  <h3>This block is unavailable.</h3>
</div>
