<h1><%=@company.name%></h1>


<%= week_calendar events: @data_blocks do |date, data_blocks| %>
  <%= date %>


  <% data_blocks.each do |block| %>
    <div>
      <%= block.start_time %>
      <%= block.end_time %>
      <%= block.available %>
    </div>
  <% end %>
<% end %>

<% @data_blocks.each do |block| %>
    <div>
      <%= block.start_time %>
      <%= block.end_time %>
      <%= block.available %>
    </div>
  <% end %>